.contact {
  .contact-form {
    margin-top: 90px;
    .contact-form__title {
      @include title;
      margin-bottom: 100px;
      @include phone {
        margin-bottom: 50px;
        font-size: 1.7em;
      }
    }
    .contact-form__form {
      @include clearfix;
      width: 65%;
      margin: 0 auto;
      @include below-tablet { width: 85%; }
      @include tablet-vertical { width: 95%; }
      @include phone { width: 90%; }
      .contact-form__form__block {
        width: 50%;
        float: left;
        margin-bottom: 70px;
        @include phone {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
        &:first-child {
          width: 45%;
          margin-right: 5%;
          @include phone {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .input {
          margin-top: 20px;
          position: relative;
          @include phone { margin-top: 15px; }
          &:first-child { margin-top: 0; }
          label, input, textarea {
            display: block;
            width: 100%;
          }
          label {
            font-size: 24px;
            margin-bottom: 5px;
            @include phone {
              font-size: 1.05em;
            }
          }
          input {
            height: 50px;
            line-height: 50px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            background-color: $form-bg-color;
            padding: 0 25px;
            font-size: 20px;
            box-shadow: 1.5px 2.598px 5px 0px rgba(0, 12, 20, 0.3);
            @include phone {
              height: 40px;
              line-height: 40px;
              font-size: 1.05em;
            }
          }
          textarea {
            width: 100%;
            margin: 0 auto;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            background-color: $form-bg-color;
            padding: 20px;
            resize: vertical;
            @include phone { height: 250px; }
          }
          .message__bg {
            box-shadow: 1.5px 2.598px 5px 0px rgba(0, 12, 20, 0.3);
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            background-color: $form-bg-color;
            .message__bg__input {
              position: relative;
              padding: 0 20px;
              padding-bottom: 0;
              label, input {
                border: 0;
                display: inline-block;
                background-color: transparent;
              }
              label {
                position: absolute;
                width: auto;
                margin: 0;
                line-height: 50px;
                @include phone { line-height: 40px; }
              }
              input {
                box-shadow: 0px 0px 0px;
                padding-left: 70px;
                border-bottom: 1px solid #fff;
              }
            }
            textarea {
              border: 0;
              background-color: transparent;
            }
          }
        }
      }
      .contact-form__form__submit-btn {
        clear: both;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 130px;
        @include phone {
          margin-top: 30px;
          margin-bottom: 90px;
        }
        input {
          width: 300px;
          height: 55px;
          line-height: 55px;
          background: #fff;
          color: #242424;
          font-size: 24px;
          box-shadow: 1.5px 2.598px 5px 0px rgba(0, 12, 20, 0.3);
          display: inline-block;
          border-radius: 40px;
          @include phone { width: 85%; }
        }
      }
    }
  }
  .access {
    margin-bottom: 60px;
    .access__title {
      @include title;
      margin-bottom: 100px;
      @include phone {
        margin-bottom: 50px;
        font-size: 1.7em;
      }
      &:after {
        margin-left: 30%;
        @include phone { margin-left: 8%; }
      }
    }
    .access__inner {
      @include clearfix;
      width: 80%;
      margin: 0 auto;
      @include below-tablet {
        width: 90%;
      }
      .access__map, .access__info {
        float: left;
      }
      .access__map {
        width: 50%;
        margin: 0;
        margin-right: 5%;
        background-color: $form-bg-color;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-shadow: 1.5px 2.598px 5px 0px rgba(0, 12, 20, 0.3);
        @include tablet-vertical {
          width: 90%;
          margin: 0 auto;
          margin-left: 5%;
        }
        @include phone {
          width: 100%;
          margin-left: 0;
        }
        img { width: 100%; }
      }
      .access__info {
        width: 45%;
        font-size: 24px;
        @include tablet-vertical {
          width: 90%;
          margin-left: 5%;
        }
        @include phone {
          width: 100%;
          margin-left: 0;
          margin-top: 40px;
        }
      }
      .access__info__name {
        @include tablet-vertical {
          width: 50%;
          float: left;
          display: block;
        }
        @include phone {
          width: 100%;
          font-size: .7em;
        }
        h2 {
          font-size: 30px;
          font-weight: $NotoDemiLight;
          @include phone {
            font-size: 1.3em;
          }
        }
      }
      .access__info__addr {
        display: inline-block;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 15px 0;
        margin-top: 5px;
        margin-bottom: 20px;
        @include tablet-vertical {
          width: 50%;
          float: left;
          display: block;
        }
        @include phone {
          width: 100%;
          font-size: .7em;
        }
        .access__info__gmap {
          margin-top: 10px;
          display: block;
          width: 100%;
          background-color: #fff;
          border-radius: 20px;
          color: #242424;
          text-align: center;
          &:before {
            content: '';
            background-image: url(/assets/images/map-pin.png);
            width: 15px;
            height: 26px;
            margin-right: 15px;
            display: inline-block;
            position: relative;
            top: 3px;
          }
        }
      }
      .access__info__root {
        @include tablet-vertical {
          width: 50%;
          float: left;
          display: block;
        }
        @include phone {
          width: 100%;
          font-size: .7em;
        }
      }
    }
  }
}
