body {
  height:100%;
}
.wrapper {
  width: 100%;
  position: relative;
  height:auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}
.page-main {
  padding-bottom: 70px;
  @include phone { padding-bottom: 50px; }
}
.footer {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  @include phone { height: 50px; }
}
