.footer {
  background-color: #000;
  color: #fff;
  .footer__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .footer__author {
    font-size: 12px;
    .footer__author__list {
      @include clearfix;
      li {
        display: inline-block;
        .separator {
          margin: 0 3px;
        }
      }
    }
  }
  .footer__copyright {
    font-size: 14px;
    .copyright-mark {
      margin: 0 3px;
    }
  }
}
