.footer {
  background-color: $footer-bg-color;
  color: #fff;
  .footer__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include below-tablet {
      width: 100%;
      letter-spacing: .03em;
    }
  }
  .footer__author {
    font-size: 12px;
    .footer__author__list {
      @include clearfix;
      @include below-tablet {
        display: none;
      }
      li {
        display: inline-block;
        .separator {
          margin: 0 3px;
        }
      }
    }
  }
  .footer__copyright {
    font-size: 14px;
    @include phone {
      font-size: .65em;
      letter-spacing: .05em;
      line-height: 50px;
    }
    .copyright-mark {
      margin: 0 3px;
    }
  }
}
