.header {
  width: 100%;
  height: $header-height;
  background: #000;
  padding: 0 5%;
  @include below-tablet { height: 140px; }
  @include below-lg-phone {
    height: 70px;
    padding: 0;
  }
  .header__logo, .header__nav__list {
    width: 50%;
    float: left;
    @include below-lg-phone {
      width: 100%;
    }
  }
  .header__logo {
    @include clearfix;
    margin: 0;
    position: relative;
    height: $header-height;
    @include below-tablet {
      height: 140px;
      width: 35%;
    }
    @include below-lg-phone {
      height: 70px;
      width: 55%;
      max-width: 170px;
      margin-left: 25px;
    }
    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .header__nav {
    @include clearfix;
    .header__nav__list {
      @include clearfix;
      line-height: $header-height;
      z-index: 1000;
      @include below-tablet {
        line-height: 140px;
        width: 65%;
      }
      @include below-lg-phone {
        line-height: 2;
        width: 100%;
        background-color: #000;
      }
      // Sticky Header
      @include phone {
        &.sticky {
          position: fixed;
        }
      }
      li {
        display: block;
        float: right;
        color: #fff;
        font-size: 25px;
        font-weight: $NotoThin;
        @include below-lg-phone {
          width: 33.3333%;
          text-align: center;
        }
        a {
          padding: 0 25px;
          display: block;
          @include below-tablet { font-size: .8em; }
          @include below-lg-phone {
            font-size: .6em;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          &.active {
            background-image: url(/assets/images/nav--active.png);
            background-position: right center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
