// when sticky
body {
  &#works { main { &.sticky { @include up-tablet { padding-top: 321px; } @include tablet { padding-top: 271px; } } } }
  &#post { main { &.sticky { @include up-tablet { padding-top: 140px; } } } }
  &#people { main { &.sticky { @include up-tablet { padding-top: 140px; } } } }
  &#contact { main { &.sticky { @include up-tablet { padding-top: 150px; } @include tablet { padding-top: 140px; } } } }
}


.header {
  width: 100%;
  height: $header-height;
  background: #000;
  padding: 0 5%;
  top: -70px;
  transition: top .1s linear;
  @include below-tablet { height: 140px; }
  @include below-lg-phone {
    height: 70px;
    padding: 0;
  }
  // when sticky
  &.sticky {
    @include up-tablet {
      position: fixed;
      top: 0;
      height: $sticky-header-height;
      z-index: 1000;
    }
  }
  .header__logo, .header__nav__list {
    width: 50%;
    float: left;
    @include below-lg-phone {
      width: 100%;
    }
  }
  .header__logo {
    @include clearfix;
    margin: 0;
    position: relative;
    height: $header-height;
    transition: height .27s linear;
    // when sticky
    &.sticky {
      @include up-tablet {
        height: $sticky-header-height;
        width: 30%;
      }
      img {
        @include laptop { transform: translate(0, -50%) scale(.7); }
        @include tablet { transform: translate(0, -50%) scale(.85); }
      }
    }
    @include below-tablet {
      height: 140px;
      width: 35%;
    }
    @include below-lg-phone {
      height: 70px;
      width: 55%;
      max-width: 170px;
      margin-left: 25px;
    }
    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .header__nav {
    @include clearfix;
    .header__nav__list {
      @include clearfix;
      line-height: $header-height;
      z-index: 1000;
      // transition: all .15s linear;
      @include below-tablet {
        line-height: 140px;
        width: 65%;
      }
      @include below-lg-phone {
        line-height: 2;
        width: 100%;
        background-color: $header-bg-color;
      }
      // Sticky Header
      &.sticky {
        width: 70%;
        @include up-tablet { line-height: $sticky-header-height; }
        @include tablet { width: 70%; }
        @include phone { position: fixed; width: 100%; }
      }
      li {
        display: block;
        float: right;
        color: #fff;
        font-size: 25px;
        font-weight: $NotoThin;
        @include below-lg-phone {
          width: 33.3333%;
          text-align: center;
        }
        a {
          padding: 0 25px;
          display: block;
          @include below-tablet { font-size: .8em; }
          @include below-lg-phone {
            font-size: .6em;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          &.active {
            background-image: url(/assets/images/nav--active.png);
            background-position: right center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
