body {
  opacity: 1;
  &.loading {
    opacity: 0;
    transition: all .15s linear;
  }
}

#home {
  .header,
  .footer { display: none; }

  .home-bg-wrapper {
    &:before, &:after {
      content: '';
      position: fixed;
      height: 70px;
      background-color: #000;
      opacity: 1;
      z-index: 100;
      width: 100%;
      @include below-tablet {
        height: 40px;
      }
    }
    &:before { top: 0; }
    &:after { bottom: 0; }
  }
  .bg-video {
    position: fixed;
    top: 0;
    width: 100%;
    .bg-video__inner {
      width: 100% !important;
      height: 100% !important;
      @include below-tablet {
        background: url(/assets/images/bg-video-inner.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }
      .bg-video__item {
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        right: 0;
        bottom: 0;
        @include below-tablet {
          display: none;
        }
        // padding: 50px 0;
        // background-color: #000;
      }
    }
  }
  .logo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(#000a0f, .6);
    .svgLogoMask {
      mask: url(#maskedText);
    }
    img {
      position: fixed;
      min-width: 100%;
      min-height: 100%;
      &.logo__cover--lg {
        @include phone { display: none; }
      }
      &.logo__cover--sm {
        @include up-tablet { display: none; }
      }
    }
  }

  .home-nav {
    position: fixed;
    height: 50px;
    width: 100%;
    line-height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    @include phone { top: 52%; }
    ul {
      @include clearfix;
      float: left;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      @include phone { width: 95%; }
      li {
        float: left;
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        @include phone {
          width: 33.3333%;
          font-size: 1.3em;
        }
        a {
          margin: 0 20px;
          background: url(/assets/images/nav--active.png) right center no-repeat;
          background-size: 66px 0px;
          padding: 0 25px;
          display: block;
          transition: all .15s linear;
          @include phone {
            margin: 0;
            padding: 0;
          }
          &:hover {
            background: url('/assets/images/nav--active.png') no-repeat right center;
            background-size: 66px 27px;
          }
        }
      }
    }
  }

  // .bg-video__item, .logo {
  //   position: fixed; top: 0; left: 0;
  //   min-width: 100%; min-height: 100%;
  //   width: auto; height: auto;
  //   background-size: cover;
  // }
  // .home-wrapper {
  //   padding: 30px 0;
  //   background-color: #000;
  // }
  // .logo {
  //   z-index: 1;
  //   opacity: .8;
  //   margin: 0;
  //   img {
  //     width: 100%;
  //   }
  // }
  // .bg-video__item {
  //   z-index: -10;
  // }
}
