// Media Queries
@mixin phone {
  @media only screen and (max-width: $phone-screen-width) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $phone-screen-width + 0.063em) and (max-width: $tablet-screen-width) {
    @content;
  }
}
@mixin below-tablet {
  @media only screen and (max-width: $tablet-screen-width) {
    @content;
  }
}

@mixin up-tablet {
  @media only screen and (min-width: $phone-screen-width + 0.063em) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: $tablet-screen-width + 0.063em) {
    @content;
  }
}

@mixin title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 130px;
  font-weight: $NotoLight;
  @include phone {
    font-size: 1.8em;
    margin-bottom: 80px;
  }
  &:after {
    content: '';
    display: block;
    height: 0px;
    width: 70%;
    border-bottom: 1px solid #fff;
    @include phone {
      width: 92%;
    }
  }
}

@mixin profImg($nick) {
  &[data-name='#{$nick}'] {
    background-image: url(/assets/images/prof_#{$nick}.jpg);
    &:hover {
      background-image: url(/assets/images/prof_#{$nick}--hover.jpg);
    }
  }
}
