// Media Queries
@mixin phone {
  @media only screen and (max-width: $phone-screen-width) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $phone-screen-width + 0.063em) and (max-width: $tablet-screen-width) {
    @content;
  }
}
@mixin below-tablet {
  @media only screen and (max-width: $tablet-screen-width) {
    @content;
  }
}

@mixin up-tablet {
  @media only screen and (min-width: $phone-screen-width + 0.063em) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: $tablet-screen-width + 0.063em) {
    @content;
  }
}

//top-catch
@mixin topCatchInstColor($inst, $color) {
  &--#{$inst} &__wrapper{ &:before, &:after { border-bottom-color: $color; } }
}
@mixin top-catch {
  &__top-catch {
    @include below-tablet {
      width: 95%;
      margin: 0 auto;
    }
    &__title {
      width: $main-width;
      margin: 0 auto;
      font-size: 0;
      @include below-tablet {
        width: 100%;
      }
      @include phone {
        @include title;
      }
    }
    &__wrapper {
      width: $main-width;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 90px;
      padding: 60px 0;
      background-color: rgba(#fff, .7);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      @include below-tablet {
        width: 100%;
      }
      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 120px;
        content: '';
        border: 120px solid transparent;
        border-bottom-color: #fef9bf;
      }
      &:before {
        top: -140px;
        left: -140px;
        transform: rotate(-45deg);
      }
      &:after {
        bottom: -140px;
        right: -140px;
        transform: rotate(135deg);
      }
      @include phone {
        margin-top: 0;
        margin-bottom: 0;
        &:before {
          top: -220px;
        }
        &:after {
          right: -220px;
        }
      }
    }
    &__inner {
      width: 65%;
      margin: 0 auto;
      @include phone {
        width: 90%;
      }
    }
    &__desc {
      font-size: 16px;
      line-height: 2;
      @include phone {
        text-align: justify;
      }
    }
    @include topCatchInstColor('day-ange', #d5ab8e);
    @include topCatchInstColor('day-ange', #d5ab8e);
    @include topCatchInstColor('day-ange', #d5ab8e);
    @include topCatchInstColor('day-ange', #d5ab8e);
    @include topCatchInstColor('day-ange', #d5ab8e);
  }
}

// fee
@mixin fee {
  @include below-tablet {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    font-size: 0;
    width: $main-width;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
    @include below-tablet {
      width: 100%;
    }
    @include phone {
      @include title;
    }
  }
  &__list {
    &__inner {
      width: $main-width;
      margin: 0 auto;
      margin-top: 50px;
      @include below-tablet {
        width: 100%;
      }
      @include phone {
        margin-top: 0;
      }
    }
    &__item {
      margin-bottom: 40px;
      &--day-soreiyu &__content__block {
        &--left { vertical-align: top; }
      }
      &--grouphome-soreiyu &__content {
        .plus {
          vertical-align: top;
          margin-top: 50px;
          @include phone {
            margin: 0 auto;
          }
        }
        &__block {
          &--left, &--right { vertical-align: top; }
          @include phone {
            &--middle {
              &:before { display: none; }
            }
          }
        }
      }
      &__title {
        position: relative;
        margin-bottom: 20px;
        @include below-tablet {
          width: 95%;
          margin-right: auto;
          margin-left: auto;
          font-size: 1.2em;
        }
        @include phone {
          font-size: 1.15em;
        }
        &:before {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          vertical-align: middle;
          border: 13px solid transparent;
          border-left-color: #d27272;
          top: 7px;
        }
      }
      &__content {
        width: 95%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        @include phone {
          width: 100%;
        }
        &__block {
          display: inline-block;
          width: 27.5%;
          @include phone {
            width: 100%;
          }
          vertical-align: middle;
          &--left { margin-right: 1.875%; }
          &--middle { margin-left: 1.875%; margin-right: 1.875%; }
          &--right { margin-left: 1.875%; }
          &--top, &--bottom { width: 100%; }
          &--top &__item, &--bottom &__item {
            width: 27.5%;
            display: inline-block;
            vertical-align: middle;
            @include phone {
              width: 100%;
            }
            &--left { margin-right: 1.875%; }
            &--right { margin-left: 1.875%; }
          }
          @include phone {
            &--left, &--middle, &--right {margin: 0;}
            &--middle {
              &:before {
                content: '';
                border-top: 2px solid #f3e9db;
                width: 100%;
                height: 1px;
                display: block;
                padding-top: 15px;
                margin-top: 15px;
              }
            }
          }
          &--top {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid #f3e9db;
          }
          &--bottom &__sub {
            width: 27.5%;
            display: inline-block;
            vertical-align: middle;
            &--left { margin-right: 1.875%; }
            &--middle { margin-left: 1.875%; margin-right: 1.875%; }
            &--right { margin-left: 1.875%; }
            @include phone {
              width: 100%;
              &--left, &--middle, &--right {
                margin: 0;
              }
            }
          }
          &--bottom &__item { width: 100%; }
          &__sub--total {
            padding: 10px;
            border: 2px solid #f3e9db;
            border-radius: 5px;
          }
          &__title { margin-bottom: 20px; }
          &__item {
            padding: 10px;
            font-size: 18px;
            font-weight: $NotoRegular;
            background-color: #f3e9db;
            border-radius: 5px;
            margin-bottom: 10px;
            @include below-tablet {
              text-align: center;
            }
            &--total {
              background-color: #fff;
              border: 2px solid #f3e9db;
            }
            .title, .fee {
              display: table-cell;
              vertical-align: middle;
              @include tablet {
                text-align: center;
                display: block;
              }
            }
            .title {
              padding-right: 30px;
              white-space: nowrap;
              @include tablet {
                padding-right: 0;
              }
            }
            .fee {
              color: #d32e2e;
              word-break: break-word;
            }
            .desc, strong {
              margin: 15px;
              display: inline-block;
            }
            .desc { margin-top: 0; }
          }
        }
        .plus {
          display: inline-block;
          text-align: center;
          font-size: 30px;
          font-weight: $NotoBold;
          vertical-align: middle;
          @include phone {
            margin: 10px auto;
            display: block;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


// point
@mixin pointInstColor($inst, $color) {
  &--#{$inst} &__content {
    &:after { border-color: $color; }
    &__item {
      border-color: $color;
      background: url(/assets/images/modules/m-point-bg--#{$inst}.png);
      &:hover {
        background: url(/assets/images/modules/m-point-bg-hover--#{$inst}.png);
      }
    }
  }
}

@mixin point {
  &__point {
    margin-bottom: 90px;
    @include below-tablet {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
    @include phone {
      margin-bottom: 0;
    }
    &__title {
      width: $main-width;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 0;
      @include below-tablet {
        width: 100%;
      }
      @include phone {
        @include title;
      }
    }
    &__content {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 100vw;
        height: 1px;
        border-bottom: 2px solid #ffb7a7;
        z-index: -10;
        @include tablet {
          width: 100%;
        }
        @include phone {
          display: none;
        }
      }
      &__inner {
        width: $main-width;
        margin: 0 auto;
        @include below-tablet {
          width: 100%;
        }
      }
      &__item {
        width: 33%;
        margin-left: .5%;
        float: left;
        border: 2px dotted #ffb7a7;
        border-radius: 50%;
        background: url(/assets/images/modules/m-point-bg.png);
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: background .2s;
        @include phone {
          width: 100%;
          border-radius: 10px;
          margin: 0;
          padding: 20px;
          margin-top: 20px;
          &:first-child {
            margin-top: 0;
          }
        }
        &:after {
          padding-top: 100%;
          display: block;
          content: "";
          @include phone {
            padding-top: 0;
          }
        }
        &:hover {
          background: url(/assets/images/modules/m-point-bg-hover.png);
        }
        &:first-child { margin-left: 0; }
        .title, .desc {
          width: 95%;
          margin: 0 auto;
          text-align: center;
          color: inherit;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all .5s;
          @include phone {
            transform: none;
            transition: none;
            position: relative;
            top: 0;
            left: 0;
          }
        }
        .title {
          left: 50%;
          font-size: 24px;
          font-weight: $NotoRegular;
          @include below-tablet {
            font-size: 1em;
            font-weight: $NotoMedium;
          }
          @include phone {
            left: 0;
            margin-bottom: 15px;
            font-size: .9em;
            padding-bottom: 3px;
            border-bottom: 1px solid $main-font-color;
            &:before {
              content: '「';
            }
            &:after {
              content: '」';
            }
            br {
              display: none;
            }
          }
        }
        .desc {
          width: 85%;
          margin: 0 auto;
          left: -150%;
          font-size: 18px;
          text-align: justify;
          @include below-tablet {
            font-size: .8em;
          }
          @include phone {
            font-size: .9em;
            left: 0;
          }
        }
        &:hover {
          .title {
            left: -150%;
            @include phone {
              left: 0;
            }
          }
          .desc {
            left: 50%;
            @include phone {
              left: 0;
            }
          }
        }
      }
    }
    @include pointInstColor('day-ange', #d5ab8e);
    @include pointInstColor('day-ange', #d5ab8e);
    @include pointInstColor('day-ange', #d5ab8e);
    @include pointInstColor('day-ange', #d5ab8e);
    @include pointInstColor('day-ange', #d5ab8e);
  }
}

@mixin questions {
  &__questions {
    width: $main-width;
    margin: 0 auto;
    margin-bottom: 90px;
    @include below-tablet {
      width: 100%;
    }
    @include phone {
      margin-bottom: 0;
    }
    &__title {
      font-size: 0;
      margin-bottom: 40px;
      @include phone {
        @include title;
      }
    }
    &__list {
      width: 85%;
      margin: 0 auto;
      @include phone {
        width: 100%;
      }
    }
    &__item {
      float: left;
      width: auto;
      display: block;
      padding: 10px 30px;
      text-align: center;
      border-radius: 10px;
      background-color: #fff;
      border: 1px dotted #ffbac0;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      @include below-tablet {
        padding: 10px;
      }
      @include phone {
        margin: 0;
        margin-bottom: 5px;
        text-align: left;
      }
      .etc {
        font-size: 12px;
      }
    }
    &__desc {
      width: 90%;
      margin: 50px auto;
      background-color: #fee8ea;
      padding: 40px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: $NotoLight;
      @include phone {
        width: 100%;
        margin: 20px auto;
        font-size: 1.1em;
        padding: 25px;
      }
      p {
        width: 80%;
        margin: 0 auto;
        @include below-tablet {
          width: 100%;
        }
      }
      span {
        border-bottom: 1px solid $main-font-color;
        padding-bottom: 2px;
      }
    }
  }
}

// map
%map-wrapper {
  background-image: url(/assets/images/modules/m-map-bg.png);
  padding: 15px;
}

// contact
@mixin contact {
  &__contact {
    margin-left: 3%;
    @include phone {
      margin-left: 0;
    }
    &__title {
      font-size: 0;
      margin-bottom: 40px;
      @include phone {
        @include title;
      }
    }
    &__content {
      border: 2px dotted #d0cff8;
      background-color: #fff;
      padding: 25px;
      border-radius: 10px;
      &__title {
        font-size: 24px;
        font-weight: $NotoRegular;
        @include tablet {
          font-size: 1.4em;
        }
        @include phone {
          font-size: 1.2em;
        }
        &:before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 2px solid #d0cff8;
          border-radius: 50%;
          background-color: #fff;
          margin-right: 20px;
        }
      }
      &__desc {
        width: 90%;
        margin: 20px auto;
        font-size: 18px;
        font-weight: $NotoLight;
        @include phone {
          font-size: 1em;
        }
      }
      &__tel, &__fax {
        width: 90%;
        margin: 0 auto;
        font-size: 28px;
        font-weight: $NotoMedium;
        padding-bottom: 2px;
        border-bottom: 2px solid #d0cff8;
        @include phone {
          font-size: 1.3em;
          white-space: nowrap;
          text-align: center;
          width: 100%;
        }
        .title {
          margin-right: 50px;
          margin-left: 10px;
          @include below-tablet {
            width: 30%;
          }
        }
        .tel {
          @include below-tablet {
            width: 70%;
          }
        }
        .title, .tel {
          @include below-tablet {
            margin: 0;
            float: left;
          }
        }
      }
      &__fax {
        margin-top: 20px;
        font-size: 22px;
      }
    }
  }
}

// contact-form
@mixin contact-form {
  $form-color: #e2d69c;
  $form-color-focus: #f8f4eb;
  &__contact-form {
    padding: 15px;
    background-color: #fff;
    border: 2px dotted $form-color;
    border-radius: 10px;
    &__item {
      margin: 10px 0;
    }
    label, input {
      display: inline-block;
    }
    label {
      width: 35%;
      font-size: 18px;
      font-weight: $NotoRegular;
      @include below-tablet {
        font-size: .9em;
      }
      @include phone {
        width: 100%;
        text-align: left;
      }
    }
    input {
      width: 65%;
      padding: 5px 10px;
      border: 1px solid $form-color;
      border-radius: 5px;
      background-color: #fff;
      transition: background-color .15s;
      @include phone {
        width: 100%;
        text-align: left;
      }
      &:focus {
        background-color: $form-color-focus;
      }
      &.submit {
        display: block;
        padding: 5px 40px;
        border: 2px solid $form-color;
        width: auto;
        float: right;
        background: url(/assets/images/modules/m-form-submit-btn-bg.png);
        transition: all .15s;
        &:hover, &:active, &:focus {
          box-shadow: 1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.1);
          background: $form-color;
          color: #fff;
        }
      }
    }
    .sender {
      font-weight: $NotoRegular;
      &__email {
        margin-left: 30px;
      }
    }
    textarea {
      border-radius: 5px;
      border: 1px solid $form-color;
      padding: 10px;
      width: 100%;
      resize: none;
      margin: 10px 0;
    }
  }
}

// contact-section
@mixin contact-section {
  &__contact, &__contact-form {
    float: left;
    width: 47%;
    margin: 0;
    @include phone {
      width: 100%;
    }
  }
  &__contact {
    margin-right: 3%;
    @include phone {
      margin: 0;
    }
  }
  &__contact-form {
    margin-left: 3%;
    margin-top: 92px;
    @include phone {
      margin: 0;
      margin-top: 30px;
    }
  }
}

@mixin access {
  &__map {
    width: $main-width;
    margin: 0 auto;
    @include below-tablet {
      width: 95%;
    }
    &__title {
      font-size: 0;
      margin-bottom: 40px;
      @include phone {
        @include title;
      }
    }
    &__wrapper {
      @extend %map-wrapper;
      position: relative;
    }
    #map {
      height: 400px;
      background-color: #efefef;
      @include phone {
        height: 350px;
      }
    }
    &__address {
      background-color: rgba(#fff, .8);
      border-radius: 10px;
      padding: 20px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-weight: $NotoRegular;
      font-size: 16px;
      @include phone {
        width: calc(100% - 30px);
        left: 15px;
        right: 0;
        bottom: 15px;
        padding: 10px;
        border-radius: 0;
        .zip, .address {
          font-size: .9em;
        }
      }
    }
  }
}

// for mobile
@mixin title {
  margin: 50px 0 30px;
  img {
    height: 40px;
  }
}
