.member {
  margin-bottom: 130px;
  @include below-tablet { margin-bottom: 0; }
  .member__list {
    @include clearfix;
    .top-text {
      margin-top: 110px;
      margin-bottom: 70px;
      text-align: center;
      .top-text__title {
        margin-bottom: 40px;
        font-size: 35px;
        font-weight: $NotoDemiLight;
        @include phone {
          font-size: 1.45em;
          margin-bottom: 20px;
        }
      }
      .top-text__desc {
        font-size: 20px;
        font-weight: $NotoThin;
        @include phone {
          width: 90%;
          margin: 0 auto;
          font-size: .95em;
        }
      }
    }
    .member__item {
      @include clearfix;
      @include below-tablet { margin-bottom: 50px; }
      &:last-child {
        @include phone { margin-bottom: 0; }
      }
      &.odd {
        .member__item__inner { float: left; }
        .member__item__block {
          .member__item__block__title, p { padding-right: 10px; }
          &--img {
            float: right; padding-left: 50px;
            @include phone { padding-left: 30px; padding-right: 20px; }
          }
          &--desc { float: right; text-align: right; }
        }
      }
      &.even {
        .member__item__inner { float: right; }
        .member__item__block {
          .member__item__block__title, p { padding-left: 10px; }
          &--img {
            float: left; padding-right: 50px;
            @include phone { padding-right: 30px; padding-left: 20px; }
          }
          &--desc {
            float: left; padding-left: 20px;
            @include phone { padding-left: 0; }
          }
        }
      }
      &.close { display: none; }
      &.open {
        .member__item__all { display: none; }
      }
      &.list {
        .member__item__single { display: none; }
      }
      // when an image gets hovered
      &.hover {
        &.odd {
          .member__item__all {
            .member__item__block--desc {
              transform: rotate(45deg);
              top: -150px;
              left: 70px;
            }
          }
        }
        &.even {
          .member__item__all {
            .member__item__block--desc {
              transform: rotate(-45deg);
              top: -150px;
              left: -70px;
            }
          }
        }
      }
      .member__item__inner {
        width: 45%;
        @include below-tablet {
          width: 90%;
        }
        @include phone {
          width: 100%;
        }
      }
      .member__item__all {
        @include clearfix;
        .member__item__block {
          &--desc {
            width: calc(100% - 250px);
            position: relative;
            top: 100px;
            left: 0;
            transform: translate(0, -50%);
            transition: all .15s linear;
            @include below-tablet {
              top: 75px;
              width: calc(100% - 200px);
            }
            @include phone {
              top: 50px;
              width: calc(100% - 150px);
            }
            p {
              @include phone { font-weight: 100; }
            }
          }
          .member__item__block__title {
            font-size: 24px;
            font-weight: $NotoLight;
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
            cursor: pointer;
            @include phone { font-size: 1.3em; }
          }
          .member__item__block__img {
            margin: 0;
            width: 200px;
            height: 200px;
            background-size: 200px;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            transition: all .15s ease-in-out;
            @include below-tablet {
              width: 150px;
              height: 150px;
              background-size: 150px;
            }
            @include phone {
              width: 100px;
              height: 100px;
              background-size: 100px;
            }
            @include profImg(shohei_suwa);
            @include profImg(gaku_takeda);
            @include profImg(ryo_ikarashi);
            @include profImg(ryota_fujinaka);
            @include profImg(hajime_koizumi);
            @include profImg(ryo_sanaka);
            @include profImg(takuto_kudo);
          }
        }
      }
      .member__item__single {
        margin-bottom: 190px;
        @include below-tablet { margin-bottom: 50px; }
        @include phone { margin-bottom: 0; }
        .member__item__single__prof {
          @include clearfix;
          margin-top: 100px;
          width: calc(50% + 400px);
          float: right;
          margin-bottom: 55px;
          @include below-tablet { width: calc(50% + 300px); }
          @include phone {
            width: 100%;
            float: none;
          }
          .member__item__single__img {
            margin: 0;
            float: left;
            @include phone {
              float: none;
            }
            img {
              width: 350px;
              height: 350px;
              border-radius: 50%;
              display: block;
              @include below-tablet {
                width: 250px;
                height: 250px;
              }
              @include phone {
                width: 170px;
                height: 170px;
                margin: 0 auto;
              }
            }
          }
          .member__item__single__name {
            width: calc(100% - 420px);
            margin-left: 20px;
            float: right;
            position: relative;
            top: 200px;
            transform: translate(0, -50%);
            @include below-tablet {
              width: calc(100% - 320px);
              top: 125px;
            }
            @include phone {
              width: 100%;
              transform: translate(0, 0);
              top: 0;
              margin-left: 0;
              margin-top: 40px;
            }
            .member__item__single__name__main {
              padding-bottom: 5px;
              border-bottom: 1px solid #fff;
              img {
                width: 200px;
                @include phone {
                  display: block;
                  margin: 0 auto;
                  transform: scale(.85);
                }
              }
            }
            .member__item__single__name__sub {
              font-size: 20px;
              margin-top: 10px;
              @include phone {
                text-align: center;
              }
            }
          }
        }
        .member__item__single__desc {
          clear: both;
          text-align: center;
          margin-top: 55px;
          font-size: 20px;
          font-weight: $NotoLight;
          line-height: 35px;
          @include tablet {
            margin: 50px 0;
          }
          @include phone {
            width: 90%;
            line-height: 1.75;
            margin-top: 30px;
            font-size: .9em;
            margin-right: auto;
            margin-left: auto;
          }
        }
        .member__item__single__sns {
          margin-top: 35px;
          .sns__item {
            display: inline-block;
            margin: 0 15px;
            a {
              font-size: 1.5em;
              display: block;
              width: 100%;
              transition: all .15s linear;
              color: #fff;
              @mixin hoverSnsIcon($name, $color) {
                &.fa-#{$name} {
                  &:hover { color: $color }
                }
              }
              @include hoverSnsIcon(twitter, #5EA9DD);
              @include hoverSnsIcon(facebook, #3765A3);
              @include hoverSnsIcon(vimeo-square, #1AB7EA);
              @include hoverSnsIcon(soundcloud, #FF4500);
              @include hoverSnsIcon(tumblr, #34465D);
              @include hoverSnsIcon(pinterest, #CB2027);
            }
          }
        }
      }
    }
  }
}

.project {
  margin-bottom: 150px;
  @include tablet { margin-bottom: 100px; }
  @include phone { margin-bottom: 50px; }
  .project__title {
    @include title;
    @include tablet { margin-bottom: 100px; }
    @include phone {
      margin-bottom: 50px;
      font-size: 1.7em;
    }
  }
  .project__list {
    @include clearfix;
    margin: 0 auto;
    @include laptop { width: 960px; }
    @include below-tablet { width: 90%; }
    @include phone { width: 95%; }
  }
  .project__item {
    display: inline-block;
    width: 24%;
    margin: 0 .5%;
    margin-bottom: 1%;
    @include laptop { height: 180px; }
    @include below-tablet {
      width: 32%;
      margin: 0;
      margin-left: 2%;
      margin-bottom: 2%;
      &:nth-child(3n-2) {
        margin-left: 0;
        @include phone {
          margin-left: 2.5%;
        }
      }
    }
    @include phone {
      width: 95%;
      margin: 0 2.5%;
      margin-bottom: 20px;
    }
    &:first-child {
      @include phone { margin-left: 2.5%; }
    }
    &:last-child {
      margin-bottom: 0;
      @include phone { margin-right: 2.5%; }
    }
    .project__item__img {
      position: relative;
      display: block;
      overflow: hidden;
      @include laptop { height: 180px; }
      &:hover {
        img {
          filter: grayscale(0);
          transform: scale(1.2);
        }
        .project__item__caption {
          background-color: rgba(#fff, .3);
          opacity: 1;
          .project__item__caption__inner {
            left: 0;
            opacity: 1;
          }
        }
      }
      img {
        filter: grayscale(100%);
        transform: scale(1);
        transition: all .15s linear;
        @include laptop {
          height: 100%;
          width: 100%;
        }
        @include below-tablet {
          height: 160px;
          width: 100%;
        }
        @include phone {
          height: 100%;
        }
      }
      .project__item__caption {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: transparent;
        transition: all .15s linear;
        color: #333;
        .project__item__caption__inner {
          padding: 0 20px;
          transition: all .15s linear;
          position: absolute;
          width: 100%;
          height: 100%;
          left: -20px;
          bottom: 0;
          opacity: 0;
        }
        .project__item__caption__title {
          font-weight: $NotoDemiLight;
          font-size: 20px;
          margin-bottom: 15px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
        }
        .project__item__caption__title__sub {
          position: absolute;
          font-size: 16px;
          font-weight: $NotoLight;
          bottom: 0;
          width: 100%;
          .project__item__caption__date {
            display: block;
            text-align: right;
            padding-right: 20px;
            margin-right: 20px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@mixin titleLine() {
  &:after.odd {
    margin-left: 30%;
  }
}

.background {
  margin-bottom: 150px;
  @include tablet { margin-bottom: 100px; }
  @include phone { margin-bottom: 50px; }
  .background__title {
    @include title;
    @include tablet { margin-bottom: 100px; }
    @include phone {
      margin-bottom: 50px;
      font-size: 1.7em;
    }
  }
  .background__list {
    @include clearfix;
    margin: 0 auto;
    @include laptop { width: 960px; }
    @include below-tablet { width: 90%; }
    @include phone { width: 95%; }
    .background__item {
      &:last-child { .background__item__inner { margin: 0; } }
      .background__item__inner { margin-bottom: 10px; }
      .background__item__date {
        display: inline-block;
        padding: 2px 5px;
        border-bottom: 1px solid #fff;
      }
      .background__item__message {
        padding: 15px;
        border-radius: 2px;
        // background-color: rgba(#fff, .1);
        @include phone { padding: 10px; }
        &:before {
          content: '•';
          float: left;
        }
        p { margin-left: 20px; }
        a {
          padding-bottom: 2px;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}

.links {
  margin-bottom: 130px;
  @include tablet { margin-bottom: 100px; }
  @include phone { margin-bottom: 50px; }
  .links__title {
    @include title;
    @include tablet { margin-bottom: 100px; }
    @include phone {
      margin-bottom: 50px;
      font-size: 1.7em;
    }
    &:after { margin-left: 30%; }
  }
  .links__list {
    @include laptop {
      width: 960px;
      margin: 0 auto;
    }
    @include phone {
      width: 90%;
      margin: 0 auto;
    }
    .links__item {
      margin-bottom: 60px;
      @include phone {
        margin-bottom: 30px;
      }
      .links__item__inner {
        display: block;
        width: 80%;
        margin: 0 auto;
        @include clearfix;
        @include tablet { width: 80%; }
        @include phone { width: 95%; }
        .links__item__img,
        .links__item__desc {
          display: inline-block;
        }
        .links__item__desc {
          width: 45%;
          @include phone {
            margin-top: 15px;
            width: 100%;
          }
          .links__item__desc__title {
            font-size: 1.2em;
            font-weight: 100;
            @include phone {
              padding-right: 50px;
              border-bottom: 1px solid #fff;
              display: inline-block;
            }
          }
          & > a {
            white-space: nowrap;
            &:hover { border-bottom: 1px solid #fff; }
            @include phone {
              font-size: .8em;
              display: block;
              margin: 5px 0;
            }
          }
        }
        .links__item__img {
          margin: 0;
          margin-right: 30px;
          width: calc(55% - 30px);
          float: left;
          @include phone {
            display: block;
            margin-right: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
