.single-post {
  .product {
    margin: 0 auto;
    @include laptop {
      width: 960px;
      padding: 0 3em;
    }
    @include below-tablet {
      width: 80%;
      padding: 0 1em;
    }
    @include tablet-vertical { width: 90%; }
    @include phone { width: 95%; padding: 0; }
    .product__main {
      margin-top: 90px;
      margin-bottom: 100px;
      @include phone { margin-bottom: 50px; }
      p {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .iframe {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        overflow: hidden;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .product__videos {
      margin-bottom: 50px;
      .product__videos__title {
        display: inline-block;
        padding: 10px 10px 0px 2px;
        border-bottom: 2px solid #fff;
        font-size: 1.3em;
        font-weight: $NotoLight;
        margin-bottom: 20px;
        .init {
          font-size: 1.6em;
          letter-spacing: .05em;
        }
        @include phone {
          font-size: 1.1em;
        }
      }
      .product__videos__item {
        display: block;
        margin-top: 30px;
        .product__videos__item__wrapper {
          display: block;
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 25px;
          height: 0;
          overflow: hidden;
          box-shadow: 2px 2px 2px rgba(#333, .7);
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .product__images {
      margin-bottom: 100px;
      @include phone { margin-bottom: 50px; }
      .product__images__title {
        display: inline-block;
        padding: 10px 10px 0px 2px;
        border-bottom: 2px solid #fff;
        font-size: 1.3em;
        font-weight: $NotoLight;
        margin-bottom: 20px;
        .init {
          font-size: 1.6em;
          letter-spacing: .05em;
        }
        @include phone {
          font-size: 1.1em;
        }
      }
      .product__images__wrapper {
        position: relative;
      }
      .product__images__list {
        position: relative;
        max-width: 1024px;
        margin: 2em auto;
        overflow-x: hidden;
        & > li {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          overflow: hidden;
          &.visible {
            position: relative;
            z-index: 2;
            opacity: 1;
          }
          &.is-animating {
            z-index: 3;
            opacity: 1;
          }
        }
        .image-svg-item-wrapper {
          height: 0;
          padding-bottom: 57.15%;
          svg {
           position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      .product__images__navigation {
         li {
        	position: absolute;
        	z-index: 3;
        	@include center(y);
        	right: 10px;
        	height: 48px;
        	width: 48px;
        	a {
        		display: block;
        		height: 100%;
        		overflow: hidden;
        		text-indent: 100%;
        		white-space: nowrap;
        		color: transparent;
        		background: url(/assets/images/icon-arrows.svg) no-repeat 0 0;
        		transition: transform .2s;
           @include phone {
           }
        		.no-touch &:hover {
        			transform: scale(1.1);
        		}
        	}
        	&:last-of-type {
        		left: 10px;
        		right: auto;
        		a {
        			background-position: -48px 0;
        		}
        	}
        }
      }
      .product__images__controls {
        position: absolute;
      	bottom: 20px;
        padding: 0;
      	@include center(x);
      	z-index: 3;
      	@include clearfix;
      	text-align: center;
      	width: 90%;
       @include phone {
         bottom: 0;
       }
      	li {
      		display: inline-block;
      		margin-right: 10px;
      		&:last-of-type {
      			margin-right: 0;
      		}
      		&.selected a {
      			background-color: #fff;
      		}
      	}
      	a {
      		display: block;
      		overflow: hidden;
      		text-indent: 100%;
      		white-space: nowrap;
      		color: transparent;
      		height: 10px;
      		width: 10px;
      		border-radius: 50%;
      		border: 2px solid #fff;
      		.no-touch &:hover {
      			background-color: #fff;;
      		}
      	}
      }
    }
    .product__desc {
      text-align: center;
      .product__desc__title {
        font-size: 40px;
        font-weight: $NotoLight;
        @include phone {
          font-size: 1.45em;
        }
      }
      .product__desc__date {
        font-size: 24px;
        font-weight: $NotoLight;
        @include phone {
          font-size: .7em;
          font-weight: 100;
        }
      }
      .product__desc__caption {
        width: 70%;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 200px;
        font-size: 1.2em;
        @include phone {
          width: 90%;
          margin-top: 40px;
          margin-bottom: 80px;
          font-size: .8em;
        }
        p {
          text-align: center;
          font-weight: $NotoLight;
          @include phone { text-align: left; }
        }
      }
    }
  }
  .crew {
    .crew__title {
      @include title;
    }
    .crew__list {
      @include clearfix;
      width: 80%;
      margin: 0 auto;
      @include below-tablet { width: 95%; }
      @include tablet-vertical { width: 80%; }
      .crew__item {
        float: left;
        width: 35%;
        margin-bottom: 130px;
        transition: all .15s linear;
        @include below-tablet { width: 40%; }
        @include tablet-vertical {
          width: 100%;
          margin-bottom: 70px;
        }
        @include phone {
          width: 100%;
          text-align: center;
        }
        &.odd {
          margin-right: 15%;
          @include below-tablet { margin-right: 5%; margin-left: 5%; }
          @include tablet-vertical { margin-right: 0; margin-left: 0; }
        }
        &.even {
          margin-left: 15%;
          @include below-tablet { margin-left: 10%; }
          @include tablet-vertical { margin-right: 0; margin-left: 0; }
        }
        &:nth-child(even) {
          @include tablet-vertical {
            .crew__item__inner {
              .crew__item__img {
                float: right;
                @include phone {
                  right: 0;
                }
              }
              .crew__item__desc {
                padding-left: 0;
                padding-right: 160px;
                text-align: right;
                @include phone {
                  padding: 0;
                  text-align: center;
                }
              }
            }
          }
        }
        &:nth-child(odd) {
          .crew__item__inner {
            .crew__item__img {
              @include phone {
                left: 0;
              }
            }
          }
        }
        .crew__item__inner {
          @include clearfix;
          position: relative;
          .crew__item__img {
            float: left;
            margin: 0;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background-size: 140px;
            transition: all .15s ease-in-out;
            @include phone {
              position: absolute;
              top: -20px;
              width: 50px;
              height: 50px;
              background-size: 50px;
            }
            @include profImg(shohei_suwa);
            @include profImg(gaku_takeda);
            @include profImg(ryo_ikarashi);
            @include profImg(ryota_fujinaka);
            @include profImg(hajime_koizumi);
            @include profImg(ryo_sanaka);
            @include profImg(takuto_kudo);
          }
          .crew__item__desc {
            padding-left: 160px;
            @include phone { padding: 0; }
            .crew__item__desc__name {
              font-weight: $NotoDemiLight;
              padding-bottom: 1px;
              position: relative;
              &:hover {
                &:after {
                  width: 100%;
                }
              }
              &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                display: block;
                width: 0;
                height: 1px;
                transition: all .1s ease-in-out;
                background-color: #fff;
              }
              @include phone {
                margin: 15px 0;
                font-weight: $NotoLight;
                font-size: 1.3em;
                padding-bottom: 1px;
                border-bottom: 1px solid #fff;
                a {
                  @include phone {
                    width: 100%;
                    display: block;
                  }
                }
              }
            }
            .crew__item__desc__role {
              margin-bottom: 15px;
              @include phone { font-style: italic; }
            }
          }
        }
      }
    }
  }
  .sound-track {
    .sound-track__title {
      @include title;
      &.even {
        &:after {
          margin-left: 30%;
          @include phone { margin-left: 8%; }
        }
      }
    }
    .sound-track__list {
      width: 70%;
      margin: 0 auto;
      @include phone { width: 90%; }
      .sound-track__item {
        margin-bottom: 50px;
        .sound-track__item__sound {
          @include clearfix;
          .sound-track__item__sound__img {
            float: left;
            width: 130px;
            height: 130px;
            margin: 0;
            @include phone {
              float: none;
              margin: 0 auto;
            }
            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
            }
          }
          .sound-track__item__sound__track {
            float: left;
            width: calc(100% - 155px);
            position: relative;
            top: 65px;
            margin-left: 25px;
            transform: translate(0, -50%);
            @include phone {
              float: none;
              width: 100%;
              margin: 0;
              top: 0;
              margin-top: 30px;
              transform: translate(0, 0);
            }
          }
        }
        .sound-track__item__desc {
          margin-top: 15px;
          @include phone { text-align: center; }
          .sound-track__item__desc__title {
            font-size: 30px;
            font-weight: $NotoLight;
            @include phone {
              font-size: 1.4em;
              display: inline-block;
              padding: 0 20px;
              padding-bottom: 1px;
              border-bottom: 1px solid #fff;
            }
          }
          .sound-track__item__desc__author {
            font-size: 20px;
            font-weight: $NotoLight;
            @include phone {font-size: 1em; }
          }
        }
      }
    }
  }
  .special-thanks {
    .special-thanks__title {
      @include title;
      &.even {
        &:after {
          margin-left: 30%;
          @include phone { margin-left: 8%; }
        }
      }
    }
    .special-thanks__list {
      .special-thanks__item {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 110px;
        width: 50%;
        @include tablet {
          width: 70%;
        }
        @include phone {
          width: 100%;
        }
        .special-thanks__item__title {
          font-size: 28px;
          font-weight: $NotoLight;
          @include tablet { font-size: 24px; }
          @include phone { font-size: 20px; }
        }
        .special-thanks__item__img,
        .special-thanks__item__desc {
          margin: 0;
          display: inline-block;
          @include up-tablet {
            float: left;
            width: 50%;
          }
          @include phone {
            width: 95%;
            margin-left: 2.5%;
          }
        }
        .special-thanks__item__desc {
          margin-left: 20px;
          width: calc(50% - 20px);
          @include phone {
            width: 95%;
            margin: 0 auto;
            display: block;
            margin-top: 20px;
            text-align: center;
          }
        }
        .special-thanks__item__img {
          img {
            position: relative;
            transform: translate(-50%, 0);
            left: 50%;
          }
        }
      }
    }
  }
}
