/*
 * Media Queries
 */

@mixin phone {
 @media only screen and (max-width: $phone-screen-width) {
   @content;
 }
}

@mixin below-lg-phone {
 @media only screen and (max-width: $lg-phone-screen-width) {
   @content;
 }
}

@mixin tablet-vertical {
  @media only screen and (max-width: $tablet-vertical-screen-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $phone-screen-width + 0.063em) and (max-width: $tablet-screen-width) {
    @content;
  }
}

@mixin below-tablet {
  @media only screen and (max-width: $tablet-screen-width) {
    @content;
  }
}

@mixin up-tablet {
  @media only screen and (min-width: $phone-screen-width + 0.063em) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: $tablet-screen-width + 0.063em) {
    @content;
  }
}

$tablet-screen-width: 64em;
$lg-phone-screen-width: 36.313em;
$tablet-vertical-screen-width: 48em;
$phone-screen-width: 30em;


/*
 * Colors
 */

  // body
  $main-bg-color: rgba(#001726, .7);

  // Header
  $header-title-c: #333;
  $header-bg-color: #fff;
  $header-bg-color--mobile: #3c4b5b;

  // Home
  $video-overlay-color: rgba(0, 23, 38, 0.7);

  // Contact
  $form-bg-color: rgba(#000a0f, .6);
  $form-bg-color--mobile: rgba(#fff, .9);

/*
 * Fonts
 */

// Noto Sans Japanese (Google Web fonts early access)
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// font-family
$main-font: 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
$NotoThin: 100;
$NotoLight: 200;
$NotoDemiLight: 300;
$NotoRegular: 400;
$NotoMedium: 500;
$NotoBold: 700;

// font-color
$main-font-color: #fff;

// Footer
$footer-font-color: #f28177;

/*
 * Screen Width
 */

  // Default width setting
  $width-lg: 1200;
  $width-md: 992;
  $width-sm: 768;
  $width-xs: 480;

	// Max width
	$max-width-lg: $width-lg + 'px';
	$max-width-md: $width-md + 'px';
	$max-width-sm: $width-sm + 'px';
	$max-width-xs: $width-xs + 'px';

  // Min width
	$min-width-lg: $width-lg + 1 + 'px';
	$min-width-md: $width-md + 1 + 'px';
	$min-width-sm: $width-sm + 1 + 'px';
	$min-width-xs: $width-xs + 1 + 'px';

  // Width and Height
  $main-width: 1025px;
  $sub-width: 810px;

  // Header
  $header-height: 150px;
  $sticky-header-height: 70px;
