.works {
  .works__filter {
    margin-top: 70px;
    margin-bottom: 50px;
    top: 0px;
    transition: top .1s linear;
    @include below-tablet {
      width: 100%;
      margin: 50px auto;
    }
    @include phone {
      position: absolute;
      top: 120px;
      margin: auto;
    }
    // when sticky
    &.sticky {
      @include up-tablet {
        margin: 0;
        width: 100%;
        padding: 20px 0;
        position: fixed;
        top: $sticky-header-height;
        z-index: 1000;
        background-color: rgba(#fff, .8);
        .works__filter__list {
          .works__filter__item {
            color: #333;
            a:before { border-color: #333; }
          }
        }
      }
    }
    .works__filter__category-btn {
      display: none;
      text-align: center;
      padding: 10px 0;
      @include phone {
        display: block;
        background-color: rgba(#fff, .95);
        color: #333;
        cursor: pointer;
        // sticky header
        &.sticky {
          width: 100%;
          position: fixed;
          top: 50px;
          z-index: 100;
        }
        & > span {
          &:after {
            content: '';
            position: relative;
            top: -1px;
            display: inline-block;
            margin-left: 5px;
            width: 10px;
            height: 10px;
            border-top: 1px solid #333;
            border-right: 1px solid #333;
            transform: rotate(45deg);
            transition: all .15s linear;
          }
          &.active:after {
            transform: rotate(135deg);
            margin-left: 10px;
            top: -3px;
          }
        }
      }
    }
    .works__filter__list {
      @include clearfix;
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      transition: all .1s linear;
      // when sticky
      &.sticky {
        @include phone {
          position: fixed;
          top: 97px;
          z-index: 100;
        }
      }
      @include phone {
        width: 100%;
        left: -50%;
        &.active {
          left: 50%;
          z-index: 100;
        }
      }
      .works__filter__item {
        float: left;
        margin-left: 60px;
        font-size: 20px;
        letter-spacing: .015em;
        @include below-tablet {
          font-size: 1em;
          margin-left: 30px;
        }
        @include phone {
          display: block;
          width: 100%;
          margin: 0;
          transition: all 1.5s linear;
          background-color: rgba(#fff, .8);
          color: #333;
          // text-align: center;
        }
        &:first-child { margin-left: 0; }
        a {
          display: block;
          width: 100%;
          transition: all .15s linear;
          @include phone {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
            &:active, &:hover { background-color: rgba(#fff, .9); color: #333; }
            &.active { display: none; border-bottom: 0; }
          }
          &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            background: transparent;
            transition: background .15s linear;
            margin-right: 10px;
            position: relative;
            top: 2px;
            @include below-tablet {
              width: 15px;
              height: 15px;
            }
            @include phone { display: none; }
          }
          &:hover:before, &.active:before {
            background: #00c1c8;
            border-color: #00c1c8;
          }
        }
      }
    }
  }
  .works__list {
    @include clearfix;
    margin: 0 15px;
    @include phone {
      margin-top: 110px;
    }
    .works__item {
      margin: 0;
      margin-bottom: 15px;
      float: left;
      position: relative;
      overflow: hidden;
      opacity: 0;
      height: 0;
      transition: opacity .3s linear;
      border-radius: 2px;
      box-shadow: 1px 2px 2px rgba(#333, 4);
      background-color: rgb(137, 132, 128);
      &.loaded { opacity: 1; height: auto; }
      img {
        max-width: 100%;
        height: 100%;
        filter: grayscale(100%);
        transform: scale(1);
        transition: all .15s linear;
      }
      .inner {
        display: block;
        &:hover, &.hover {
          img {
            transform: scale(1.2);
            filter: grayscale(0);
          }
          .works__item__caption {
            opacity: 1;
            .works__item__caption__inner {
              opacity: 1;
              left: 0;
              overflow: scroll;
            }
          }
        }
      }
      &--first-item { clear: both }
      .works__item__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #333;
        font-weight: 200;
        height: 100%;
        width: 100%;
        background-color: rgba(#efefef, .4);
        opacity: 0;
        transition: all .15s linear;
        .works__item__caption__inner {
          position: relative;
          top: 50%;
          left: -20px;
          height: 100%;
          padding: 20px;
          transform: translate(0, -50%);
          opacity: 0;
          transition: .2s all linear, .23s left linear;
        }
        .works__item__caption__title {
          margin-bottom: 15px;
          font-size: 24px;
          font-weight: $NotoRegular;
          @include phone {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 95%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
          }
        }
        .works__item__caption__member {
          padding: 5px;
          @include phone { display: none; }
          p {
            font-size: 18px;
            padding-bottom: 2px;
            font-weight: $NotoRegular;
            span {
              margin: 2px;
              border-bottom: 1px solid #000;
              &:nth-child(2) {
                border-bottom: 0;
              }
            }
          }
        }
        .works__item__caption__date {
          margin-top: 20px;
          text-align: right;
          display: block;
          @include phone {
            position: absolute;
            bottom: 20px;
            right: 20px;
          }
        }
      }
    }
  }
}
